@model TallerCuatro.Models.Entities.TipoMercancia

@{
    ViewData["Title"] = "Create";
}



@section Styles{

}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Crear tipo de mercancia</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Clientes">Gestión Tipo Mercancia</a></li>
                        <li class="breadcrumb-item active">Crear tipo de mercancia</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">

                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Nombre" class="control-label"></label>
                            <input asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Crear" class="btn btn-primary" />
                        </div>
                    </form>
                    <div>
                        <a asp-action="Index" class="btn btn-outline-secondary">Volver</a>
                    </div>
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts{


    <script>

        $(document).ready(function () {

            $("#crearPaquete").click(function () {



                Swal.fire({ //Mensaje de confirmar
                    title: '¿Desea guardar este tipo de mercancia?',
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: `Guardar`,
                denyButtonText: `No guardar`,
            }).then((result) => {

                if (result.isConfirmed) { // si confirmamos

                    var url = $(this).data('url');
                    var imagen = $("#imagen").prop("files");
                    var formData = new FormData();
                    formData.append("Nombre", document.getElementById("nombre").value);
                    formData.append("Imagen", imagen[0]);
                    $.ajax({
                            type: "POST",
                            //url: "../Cargos/CrearCargo",
                            url: '@Url.Action("Create", "TiposMercancias")',
                            contentType: false,
                            processData: false,
                            data: formData,
                            success: function (result) {
                                //console.log(result.data);
                                //alert(result.data);
                                if (result.data == "ok") {
                                    setTimeout(
                                        function () {
                                            window.location.href = "@Url.Action("Index", "TiposMercancias")";
                                        }, 2000);
                                    Swal.fire({
                                        //position: 'top-end',
                                        icon: 'success',
                                        title: 'Tipo de mercancia guardado',
                                        showConfirmButton: false,
                                        timer: 1500
                                    })
                                } else {
                                    console.log("ERROR!!")

                                }
                            },
                            error: function (err) {

                                console.log(err.data)
                            }
                        });

                } else if (result.isDenied) {
                    Swal.fire('Tipo de mercancia no guardada', '', 'info')
                }
            })

            })

        })

    </script>

}