@model TallerCuatro.Models.Entities.TipoMercancia

@{
    ViewData["Title"] = "Edit";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Editar Tipo de Mercancia</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Paquetes">Gestión Paquetes</a></li>
                        <li class="breadcrumb-item active">Editar Paquete</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">


                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="TipoMercanciaId" />
                                <div class="form-group">
                                    <label asp-for="Nombre" class="control-label"></label>
                                    <input asp-for="Nombre" class="form-control" />
                                    <span asp-validation-for="Nombre" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="button" value="Editar" id="editarTipoMercancia" name="editarTipoMercancia" class="btn btn-primary" />
                                </div>
                            </form>

                        </div>
                    </div>

                    <div>
                        <a asp-action="Index">Regresar</a>
                    </div>

                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


@section Scripts {

    <script>

        $(document).ready(function () {

            $("#editarTipoMercancia").click(function () {

                Swal.fire({ //Mensaje de confirmar
                    title: '¿Desea guardar este tipo de mercancia?',
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: `Guardar`,
                denyButtonText: `No guardar`,
            }).then((result) => {

                if (result.isConfirmed) { // si confirmamos
                    var formData = new FormData(); //se crea el ojeto de tipo formData que va a contener todo lo que vamos a enviar
                    formData.append("Nombre", document.getElementById("nombre").value);
                    $.ajax({
                            type: "POST",
                            //url: "../Cargos/CrearTipoMercancia",
                            url: '@Url.Action("Edit", "TipoMercancia")',
                            contentType: false,
                            processData: false,
                            data: formData,
                            success: function (result) {
                                //console.log(result.data);
                                //alert(result.data);
                                if (result.data == "ok") {
                                    setTimeout(
                                        function () {
                                            window.location.href = "@Url.Action("Index", "TipoMercancia")";
                                        }, 2000);
                                    Swal.fire({
                                        //position: 'top-end',
                                        icon: 'success',
                                        title: 'Tipo de Mercancia guardado',
                                        showConfirmButton: false,
                                        timer: 1500
                                    })
                                } else {
                                    console.log("ERROR!!")

                                }
                            },
                            error: function (err) {

                                console.log(err.data)
                            }
                        });

                } else if (result.isDenied) {
                    Swal.fire('Tipo de Mercancia no guardado', '', 'info')
                }
            })

            })

        })

    </script>
}
